apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: production-people-api
  namespace: default
spec:
  project: default
  source:
    repoURL: https://github.com/Dameeyo/ArgoCD_GitOps.git
    path: .
    targetRevision: main
    helm:
      valueFiles:
        - values_production.yml
  destination:
    server: https://kubernetes.default.svc
    namespace: production
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true
